/* Normalizer modified */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

b, strong {
  font-weight: bold; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

small {
  font-size: 80%; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in the left sidebar, the
 * image will overlap with the #content to the right. The exception to this
 * is IE6 which will just hide the navigation block completely in these
 * instances due to a positioning bug.
 */
#content, #sidebar-first, #sidebar-second {
  float: left;
  display: inline;
  position: relative; }

#content {
  width: 100%; }

body.sidebar-first #content {
  width: 80%;
  left: 20%;
  /* LTR */ }

body.sidebar-second #content {
  width: 80%; }

body.two-sidebars #content {
  width: 60%;
  left: 20%; }

#sidebar-first {
  width: 20%;
  left: -80%;
  /* LTR */ }

body.two-sidebars #sidebar-first {
  left: -60%;
  /* LTR */ }

#sidebar-second {
  float: right;
  /* LTR */
  width: 20%; }

.section {
  margin: 10px; }

.unstyled, .action-links {
  padding-left: 0;
  list-style: none; }

.wrapper, #main-wrapper, #page-wrapper header .header-wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.subtle {
  color: #aaaaaa; }
  .subtle a {
    color: #909090; }
    .subtle a:hover {
      color: #909090; }

/* Buttons */
.btn, .action-links a,
.form-actions input[type="submit"],
.links.inline a {
  position: relative;
  vertical-align: top;
  padding: .5em 1.2em;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #21b692;
  border: 0;
  border-bottom: 2px solid #1da081;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #1da081;
  box-shadow: inset 0 -2px #1da081; }
  .btn:hover, .action-links a:hover,
  .form-actions input[type="submit"]:hover,
  .links.inline a:hover {
    color: #fff;
    text-decoration: none !important; }
  .btn:active, .action-links a:active,
  .form-actions input[type="submit"]:active,
  .links.inline a:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-subtle, .action-links a.btn-subtle,
  .form-actions input.btn-subtle[type="submit"],
  .links.inline a.btn-subtle {
    color: rgba(255, 255, 255, 0.5);
    background: rgba(170, 170, 170, 0.2);
    border-bottom: none;
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-small, .action-links a.btn-small,
  .form-actions input.btn-small[type="submit"],
  .links.inline a.btn-small {
    padding: .3em .7em; }

/* Sabaab */
body {
  margin: 0;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px transparent;
  text-rendering: optimizeLegibility;
  background-color: white; }

#page-wrapper header {
  background-image: url("../img/content-pattern.png");
  background-color: #262e40; }
  #page-wrapper header .header-wrapper {
    padding: 14px 10px 8px; }
  #page-wrapper header .logo {
    margin-right: 10px;
    text-decoration: none; }
    #page-wrapper header .logo img {
      width: 150px;
      height: 27.5px; }

.btn-leave {
  float: right;
  margin-top: -3px; }
  @media (max-width: 400px) {
    .btn-leave {
      display: none; } }

.tagline {
  color: rgba(255, 255, 255, 0.5);
  font-size: 28px;
  font-family: "abril-fatface", serif;
  font-style: italic; }
  .tagline:hover {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none; }

a {
  color: #21b692;
  text-decoration: none; }

a:hover,
a:focus {
  color: #198b6f;
  text-decoration: underline; }

h1 {
  font-size: 36px;
  line-height: 1.2em;
  margin: 1em 0 .2em;
  font-family: "abril-fatface", serif;
  font-style: italic;
  color: #262e40; }

table {
  width: 100%; }
  table tbody {
    border: none; }
  table tr td {
    padding: 1em .3em 1em 0;
    border-bottom: 1px solid #dddddd; }
  table th {
    color: #c3c3c3;
    text-transform: uppercase;
    border: none; }

input, textarea {
  width: 100%;
  padding: .3em .1em; }

#forum {
  margin: 2em 0; }
  #forum .description {
    margin: 0; }

[id^="forum-topic-"] th:nth-child(1) {
  display: none; }

@media (max-width: 640px) {
  #forum-0 th:nth-child(2n+2),
  #forum-0 td:nth-child(2n+2),
  [id^="forum-topic-"] th:nth-child(4),
  [id^="forum-topic-"] td:nth-child(3) {
    display: none; } }
td.title .submitted {
  color: #aaaaaa; }

.content .filter-wrapper {
  display: none; }

.mollom-privacy {
  margin: .6em 0;
  font-size: 14px;
  color: #aaaaaa; }
  .mollom-privacy a {
    color: #909090; }

.front .action-links,
.front h1.title {
  display: none; }

.action-links {
  list-style-type: none; }

.item-list .pager {
  margin-top: 2em; }

.item-list ul li.pager-first {
  margin-left: 0; }

@media (max-width: 520px) {
  .item-list ul li {
    margin-left: 1em; }

  .item-list .pager li.pager-previous,
  .item-list .pager li.pager-next {
    display: none; } }
.node-type-forum .submitted {
  color: #aaaaaa; }

/*# sourceMappingURL=app.css.map */