$color-primary: darken(#21b692, 5%);
$color-subtle: #999;

// Unstyled keeps list items block level, just removes default browser padding and list-style
.unstyled {
  padding-left: 0;
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.subtle {
  color: $color-subtle;

  a {
    color: darken($color-subtle, 10%);

    &:hover {
      color: darken($color-subtle, 10%);
    }
  }
}


